<!DOCTYPE html>

{% extends 'template/base.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>
    <body>
        <div id="home" class="intro container">
            <div class="centered-content">
                <h1>Farah Nazihah</h1>
                <p>also known as betaorionis</p>
                <p>more about me</p>
                <a href="/#about">
                    <img class="arrow" src="{% static 'image/arrow.png' %}" alt="Farah Nazihah">
                </a>
            </div>
        </div>
        <div id="about" class="profil container">
            <div class="row">
                <div class="rectangle-bio translated-bio hide-content">
                    <div class="col-xl personal-info">
                        <h4>Personal Info</h4>
                        <h6>Full Name</h6>
                        <p>Farah Nazihah</p>
                        <h6>Birth Date</h6>
                        <p>10 February 2002</p>
                        <h6>Address</h6>
                        <p>Jl. Merdeka, Sukmajaya, Depok</p>
                        <h6>MBTI Type</h6>
                        <p>INFJ</p>
                        <h6>Blood Type</h6>
                        <p>B+</p>
                    </div>
                </div>
                <div class="col-xl centered-content">
                    <h2 class="sectiontitle">a little more about myself...</h2>
                    <img class="imageself" src="{% static 'image/FR21.jpg' %}" alt="Farah Nazihah">
                    <div>
                        <p>Learn something new everytime I try to look from
                            different perspective of every story.
                            Recently study in Computer Science major
                            Universitas Indonesia. I'm interested in
                            astronomy, psychology, game development,
                            and the study of character development.</p>             
                    </div>
                </div>
                <div class="rectangle-skills translated-skills hide-content">
                    <div class="col-xl skills">
                        <h4>Skills</h4>
                        <ul>Visual Design</ul>
                        <ul>Python</ul>
                        <ul>Paper Crafting</ul>
                        <ul>Reliable</ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="education" class="edu container">
            <h2 class="sectiontitle">Educational Info</h2>
            <div class="row centered-block">
                <div class="col-xl alignright">
                    <h5>Barchelor's Degree</h5>
                    <p>computer science</p>
                    <p>2019 - 2023 (expected)</p>
                </div>
                <img class="arrow" src="{% static 'image/cap.png' %}" alt="Farah Nazihah">
                <div class="col-xl alignleft">
                    <h5>Universitas Indonesia</h5>
                    <ul>
                        <li class="zeromargin"><h6>Staff of Mentor and Students Division</h6>
                        <p>BETIS Fasilkom UI 2020</p>
                        <p>November 2019 - April 2020</p></li>
                        <li class="zeromargin"><h6>HRD of Data Science Academy</h6>
                        <p>Compfest Fasilkom UI 2020</p>
                        <p>2019 - April 2020</p></li>
                    </ul>
                </div>
            </div>
            <div class="row centered-block">
                <div class="col-xl alignright">
                    <h5>High School Diploma</h5>
                    <p>mathematics and natural science</p>
                    <p>2016 - 2019</p>
                </div>
                <img class="arrow" src="{% static 'image/nuclear.png' %}" alt="Farah Nazihah">
                <div class="col-xl alignleft">
                    <h5>SMAN 2 Depok</h5>
                    <ul>
                        <li class="zeromargin"><h6>Head of Public Relation Division</h6>
                            <p>Journalistics SMAN 2 Depok</p>
                            <p>November 2019 - April 2020</p></li>
                        <li class="zeromargin"><h6>Head of Earth Science Division</h6>
                            <p>SMAN 2 Depok Student Club</p>
                            <p>June 2018 - 2019</p></li>
                        <li class="zeromargin"><h6>Project Officer</h6>
                            <p>Bulan Bahasa SMAN 2 Depok</p>
                            <p>September 2018 - November 2018</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="contact" class="contactme container">
            <div class="resize">
                <h2 class="sectiontitle">you can find me at...</h2>
                <a href="https://wa.me/6287887554097" target="_blank">
                    <img src="{% static 'image/whatsapp.png' %}" alt="Farah Nazihah">
                </a>
                <a href="https://line.me/ti/p/t9t9sDYcEE" target="_blank">
                    <img src="{% static 'image/line.png' %}" alt="Farah Nazihah">
                </a>
                <a href="https://www.instagram.com/frhnzh_/" target="_blank">
                    <img src="{% static 'image/instagram.png' %}" alt="Farah Nazihah">
                </a>
                <a href="https://www.linkedin.com/in/farah-nazihah-488a96178/" target="_blank">
                    <img src="{% static 'image/linkedin.png' %}" alt="Farah Nazihah">
                </a>
            </div>
        </div>
    </body>

</html>

{% endblock %}